@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700&display=swap');

@font-face {
  font-family: HyliaSerif;
  src: url("HyliaSerifBeta-Regular.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', serif;
  background-color: #ece6d9;
}

h1 {
  font-family: HyliaSerif;
  letter-spacing: 4px;
}